/wp-includes/
/wp-admin/
/wp-content/plugins/
/wp-content/ac-plugins/
/wp-content/ai1wm-backups/
/wp-content/cache/
/wp-content/languages/
/wp-content/upgrade/
/wp-content/uploads/
/wp-content/themes/devdmbootstrap4/
/wp-content/themes/twentynineteen/
/wp-mail.php
/wp-blog-header.php
/index.php
/license.txt
/wp-cron.php
/.htaccess
/wp-links-opml.php
/wp-comments-post.php
/wp-config.php
/readme.html
/wp-load.php
/wp-trackback.php
/wp-signup.php
/wp-activate.php
/wp-config-sample.php
/wp-settings.php
/xmlrpc.php
/wp-login.php
/wp-content/tablepress-custom.css
/wp-content/tablepress-custom.min.css
/wp-content/index.php
/wp-content/advanced-cache.php
/wp-content/tablepress-combined.min.css
/wp-content/wp-content/
/wp-content/themes/index.php